<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uniquindio.android.electiva.thevozarron">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ListaEntrenadoresActivity" />
        <activity android:name=".activities.CambiarIdiomaActivity" />
        <activity android:name=".activities.InformacionEntrenadorActivity" />
        <activity android:name=".activities.InformacionParticipanteActivity" />
        <activity android:name=".activities.ListaParticipantesActivity" />
        <activity android:name=".activities.VotarActivity"></activity>
    </application>

</manifest>